.my-account{
    width: fit-content;
}
.profile-container{
    border: 2px solid orangered;
    border-radius: 6px;
    box-shadow: 4px 4px 0 black ;
    padding: 1.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    &>.fullname{
        font-size: 1.1rem;
        font-weight: 600;
    }
    &>.email{
        font-size: 0.9rem;
    }
    &>button{
        background-color: rgb(53, 53, 172);
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        &:hover{
            background-color: rgb(37, 37, 125);
        }
    }
}
.profile-container>.logo{
    background-color: orangered;
    width: 100px;
    height: 100px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    align-self: center;
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.profile-container > .btns{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.logout-btn{
    background-color: rgb(221, 94, 36);
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 0.8rem;
    color: white;
}

.del-account{
    color: rgb(228, 7, 7);
    &:hover{
        color: rgb(132, 0, 0);
    }
}

.main-page{
    width: min(100%,1100px);
    margin-inline: auto;
    background-color: white;
}
body{
    background-color: rgb(41, 41, 41);
}